.__preloader.container.flex-column.flex-space-only
    .flex-fill
    .preloader_text with ✘ neon
    .flex-fill
    .preloader_footer.flex.align-center
        .preloader_el
        .preloader_num loading