footer.footer
    .container 
        .inner-footer.flex-space
            .left_wrapper.flex-space
                span.full_screen.icon 
                    img(src="./assets/static/fav/apple-touch-icon.png")
                div
                    span.date 2023
    

            .right_wrapper
                span ©
                    strong Elora